/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: white;
  border-bottom: 1px solid var(--border);
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--ciit-dark);
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--ciit-accent);
}

/* NAV BUTTONS */

.nav-actions {
  display: flex;
  gap: 10px;
}

.nav-btn {
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: 600;
}

.primary-nav-btn {
  background: var(--ciit-dark);
  color: white;
}

.secondary-nav-btn {
  border: 2px solid var(--ciit-dark);
  color: var(--ciit-dark);
}