@import "tailwindcss";
@theme {
  
  --color-regal-navy: #0f3070ff;
  --color-baltic-blue: #52648aff;
  --color-pale-slate: #c0c5d1ff;
  --color-platinum: #e5e7ebff;

  --color-primary:  var(--color-regal-navy);
  --color-secondary:  var(--color-baltic-blue);
  --color-tertiary: var(--color-pale-slate);
  --color-bright: var(--color-platinum);

  /*tried these but unused now. Might remove*/
  --color-molten-lava: #7a1d00ff; /*Darkest red*/
  --color-rusty-spice: #bd401aff;
  --color-tiger-flame: #ff6333ff;
  --color-tangerine-dream: #f29f87ff;
  --color-almond-silk: #ecc3b9ff;
  --color-platinum: #e5e7ebff; /*Platinum white*/

}
/*
Name the colors --color-name- to be to use bg- text- accent and other tailwind colors
REFER TO THIS TO CONFIGURE COLORS: https://tailwindcss.com/docs/theme */


/*Iwan muna toh until stuff like font family is decided for*/
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--color-platinum);
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}